BLOCK RESETPATHS ;
BLOCK ASYNCPATHS;
LOCATE COMP "clk" SITE "C1";
LOCATE COMP "a_to_g0[0]" SITE "A11";
LOCATE COMP "a_to_g0[1]" SITE "B12";
LOCATE COMP "a_to_g0[2]" SITE "H2";
LOCATE COMP "a_to_g0[3]" SITE "H1";
LOCATE COMP "a_to_g0[4]" SITE "J1";
LOCATE COMP "a_to_g0[5]" SITE "B14";
LOCATE COMP "a_to_g0[6]" SITE "C12";
LOCATE COMP "green1" SITE "N2";
LOCATE COMP "red1" SITE "M2";
LOCATE COMP "yellow1" SITE "P2";
LOCATE COMP "yellow2" SITE "P4";
LOCATE COMP "red2" SITE "M3";
LOCATE COMP "green2" SITE "N3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
IOBUF PORT "btn1" IO_TYPE=LVCMOS33;
IOBUF PORT "btn2" IO_TYPE=LVCMOS33;
IOBUF PORT "btn3" IO_TYPE=LVCMOS33;
IOBUF PORT "btn4" IO_TYPE=LVCMOS33;
IOBUF PORT "a_to_g0[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "a_to_g0[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "a_to_g0[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "a_to_g0[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "a_to_g0[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "a_to_g0[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "a_to_g0[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "a_to_g1[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "a_to_g1[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "a_to_g1[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "a_to_g1[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "a_to_g1[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "a_to_g1[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "a_to_g1[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "an0" IO_TYPE=LVCMOS33;
IOBUF PORT "an1" IO_TYPE=LVCMOS33;
IOBUF PORT "green1" IO_TYPE=LVCMOS33;
IOBUF PORT "green2" IO_TYPE=LVCMOS33;
IOBUF PORT "newp1" IO_TYPE=LVCMOS33;
IOBUF PORT "newp2" IO_TYPE=LVCMOS33;
IOBUF PORT "red1" IO_TYPE=LVCMOS33;
IOBUF PORT "red2" IO_TYPE=LVCMOS33;
IOBUF PORT "yellow1" IO_TYPE=LVCMOS33;
IOBUF PORT "yellow2" IO_TYPE=LVCMOS33;
LOCATE COMP "btn1" SITE "L14";
LOCATE COMP "btn2" SITE "M13";
LOCATE COMP "btn3" SITE "M14";
LOCATE COMP "btn4" SITE "N14";
LOCATE COMP "an0" SITE "C9";
LOCATE COMP "an1" SITE "A12";
LOCATE COMP "newp1" SITE "P12";
LOCATE COMP "newp2" SITE "M12";
LOCATE COMP "a_to_g1[0]" SITE "B9";
LOCATE COMP "a_to_g1[1]" SITE "A9";
LOCATE COMP "a_to_g1[2]" SITE "E2";
LOCATE COMP "a_to_g1[3]" SITE "E1";
LOCATE COMP "a_to_g1[4]" SITE "F2";
LOCATE COMP "a_to_g1[5]" SITE "C11";
LOCATE COMP "a_to_g1[6]" SITE "A10";
